div {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #0000ff;
}

.com-border-box {
  background-color: #00ffff;
  box-sizing: border-box;
}

.sem-border-box {
  background-color: #ffff00;
}
